ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom:2px solid lightgrey;
}

li {
    float: left;
    font-size: 20px
}

li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

li:first-child {
    font-size: 70px
}

li img {
    height: 50px;
    width: auto;
}
p {
    font-family: verdana;
    border: 2px solid;
    border-radius: 5px;
    border-width: 100%;
}

p img:first-child {
    height: 55px;
    width: auto;
    float: left;
}
p img{
    display:block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    text-decoration: none;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
}