<!DOCTYPE html>
<html lang = "en">
<html>
	<head>
		<title>
			Edit Project
		</title>

	</head>
	<body>

		<input type="text" value="Project Title Goes Here">
		<input type="text" value="Project Description Goes Here">
		<input type="text" value="Project Deadline Goes Here">
		
		<div class="UsersList">
			<div class="UserListElement">
				<p>Username1</p>
				<button class="button">Add</button>
				<button class="button">Remove</button>
			</div>
		</div>

	</body>
</html>
