<!DOCTYPE html>
<html lang = "en">
<html>
	<head>
		<title>
			Edit Task
		</title>

	</head>
	<body>

		<input type="text" value="Task Title Goes Here">
		<input type="text" value="Task Description Goes Here">
		<input type="text" value="Task Deadline Goes Here">
		<input type="text" value="2 hours">
		<input type="text" value="Username">

		<div class="UpdatesList">
			<p>Updates</p>
			<input type="text" value="Create new update?">
			<buton class="button">Add Update</buton>
			<div class="UpdatesListElement">
				<input type="text" value="Update Goes Here!">
				<button class="button">Remove Update</button>
			</div>
		</div>


	</body>
</html>
