<!DOCTYPE html>
<html lang = "en">
<html>
	<head>
		<title>
			Edit Project
		</title>

	</head>
	<body>

		<h2>CREATE A NEW PROJECT</h2>

		<button class="button">CREATE A NEW PROJECT</button>

		<h2>VIEW OLD PROJECTS</h2>

		<button class="button">PROJ_1</button>
		<button class="button">PROJ_2</button>

		<input type="text" value="Project Title Goes Here">
		<input type="text" value="Project Description Goes Here">
		<input type="text" value="Project Deadline Goes Here">
		
		<div class="UsersList">
			<div class="UserListElement">
				<p>Username1</p>
				<button class="button">Add</button>
				<button class="button">Remove</button>
			</div>
		</div>

	</body>
</html>
