<!DOCTYPE html>
<html lang = "en">
<html>
<head>
	<title>
		PROJECTS
	</title>
<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}
</style>
</head>
<body>

<h2>CREATE A NEW PROJECT</h2>

<button class="button">CREATE A NEW PROJECT</button>

<h2>VIEW OLD PROJECTS</h2>

<button class="button">PROJ_1</button>
<button class="button">PROJ_2</button>

</body>
</html>
