<!DOCTYPE html>
<html lang = "en">

<head>
	<title>
		Create new account
	</title>
</head>

<body>
	<form action = "" method = "post" enctype = "multipart/form-data">
		<p>First Name Last Name Email Password Verify Password</p>
		<input type = "text" name = "First Name" />
		<input type = "text" name = "Last Name" />
		<input type="text" name = "Email"/>
		<input type = "password" name = "Password" />
		<input type = "password" name = "Verify password" />
		<input type = "submit" value = "CREATE" />
	</form>
</body>

</html>