<!DOCTYPE html>
<html lang = "en">
<html>
	<head>
		<title>
			View Project
		</title>

	</head>
	<body>

		<h1>Project Title Goes Here</h1>
		<h2>Project Description Goes Here</h2>
		<h2>Project Deadline Goes Here</h2>
		<div class="UsersList">
			<p>Collaborators</p>
			<div class="UserListElement">
				<p>Username1</p>
			</div>
		</div>
		

		<div class="TaskList">
			<p>Task List</p>
			<p>Add new task?</p>
			<div class="TaskListElement">
				<p>Task Title</p>
				<p>Time Required: 2 hours</p>
				<p>Deadline </p>
				<p>Task Description</p>
				<button class="button">Remove Task</button>
			</div>
		</div>



	</body>
</html>
